.title {
    font-family: $font-main;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    font-weight: 600;

    @media (min-width: $breakpoint-tablet) {
        font-size: 60px;
    }

    @media (min-width: $breakpoint-desktop) {
        font-size: 60px;
    }
}

