
.title {
    background-color: pink;
    height: 80px;
    width: 100w;
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

.img {
    width: 100vw;
}

.form {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100vw;
}

.input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
}

.input-search {
    height: 40px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(252, 170, 4);
    font-weight: 600;
    cursor: pointer;
}

.input-reset {
    height: 40px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(191, 172, 116);
    font-weight: 600;
    cursor: pointer;
}

.result {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    width: 100vw;
}

.drinks-result {
    font-size: 40px;
    font-weight: 600;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drinks-favs {
    font-size: 40px;
    font-weight: 600;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-drink {
    font-size: 25px;
    font-weight: 600;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    gap: 5px;
    position: relative;
    text-overflow: ellipsis;
    width: 200px;
    text-align: center;
    margin-top: 10px;
}

.img-drink {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.selected {
    background-color: pink;
    color: white;
}

.fa-circle-xmark {
    width: 15px;
    height: 15px;
    border: 5px;
    color: pink;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}  

.button {
    height: 60px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(230, 185, 192);
    font-weight: 600;
    cursor: pointer;
}