
.main {
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @media (min-width: $breakpoint-tablet) {
            flex-direction: row;
        }
}

.input {
    font-family: $font-main;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    @media (min-width: $breakpoint-tablet) {
        width: 350px;
    }
}

.input-search {
    font-family: $font-main;
    height: 40px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(252, 170, 4);
    font-weight: 600;
    cursor: pointer;
}
.input-search:hover {
    background-color: rgb(236, 189, 95);
}

.input-reset {
    font-family: $font-main;
    height: 40px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(217, 224, 58);
    font-weight: 600;
    cursor: pointer;
}

.input-reset:hover {
    background-color: rgb(212, 200, 163);
}

.result {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.drinks-result {
    font-family: $font-main;
    font-size: 25px;
    font-weight: 600;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $breakpoint-tablet) {
            font-size: 40px;
        }
}

.drinks-favs {
    font-family: $font-main;
    font-size: 25px;
    font-weight: 600;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $breakpoint-tablet) {
            font-size: 40px;
        }
}

.title-drink {
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    gap: 5px;
    position: relative;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    @media (min-width: $breakpoint-tablet) {
            font-size: 25px;
            width: 200px;
        }
}

.title-hover:hover {
    color: rgb(255, 115, 136);
}

.img-drink {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    @media (min-width: $breakpoint-tablet) {
            width: 200px;
                height: 200px;
                border-radius: 5px;
        }
}

.selected {
    background-color: pink;
    color: white;
}

.fa-circle-xmark {
    width: 15px;
    height: 15px;
    border: 5px;
    color: pink;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}  

.fa-circle-xmark:hover {
    color: rgb(255, 115, 136);
}

.button {
    height: 60px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 115, 136);
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(252, 155, 169);
}

.hidden {
    display: none;
}

.error {
    font-family: $font-main;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 8px;
    font-size: 20px;
}